* {
    font-family: cursive;
    font-weight: 800;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
}
.header {
    color: #083570;
    background-color: #000;
    width: 100%;
    text-align: center;
}
i {
    font-style: normal;
    color: #f4685c;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 2px dashed #083564;
    padding: 1em;
}
.sub {
    text-align: left;
    width: 100%;
    color: #083570;
}
.input {
    width: 80%;
    height: 100%;
    padding: 0.2em 0.5em;
    border: 0px;
    background-color: #eee;
    color: #083564;
    font-size: 1.3em;
    border-left: 6px solid #083564;
    border-radius: 3px;
}
::placeholder {
    color: #aaa;
    font-size: 0.9em;
}
select {
    width: 83%;
    height: 100%;
    padding: 0.2em 0.5em;
    border: 0px;
    background-color: #eee;
    color: #083564;
    font-size: 1em;
    border-left: 6px solid #083564;
    margin: 2em 0em 0em 0em;
    border-radius: 3px;
}
.button {
    background-color: #0d86ff;
    color: #eee;
    width: 5em;
    height: 2em;
    border: 0px;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 3em;
}
.result {
    width: 80%;
    height: 100%;
    padding: 1em 0.5em;
    border: 0px;
    background-color: #eee;
    color: #083564;
    font-size: 1.3em;
    margin: 0em;
    border-left: 6px solid #083564;
    border-radius: 3px;
}
.center {
    width: 100%;
    text-align: center;
    color: #083564;
}